

<p> Registro de usuario</p>
<div class="container fluid">
    <div class="row ">
        <div class="col-6 col-md-12 justify-content-center">
            <table style="height: 100px;">
            <tbody>
                <tr>
                    <td class="align-baseline"> Ingresa tu cedula : <input type="text" ></td>
                </tr>
                <tr>
                    <td class="align-baseline"> Ingresa nombre : <input type="text"></td>
                </tr>
                <tr>
                    <td class="align-baseline"> Ingresa tu apellido : <input type="text"></td>
                </tr>
                <tr>
                    <td class="align-baseline"> Ingresa tu email :<input type="text"></td>
                </tr>
                <tr>
                    <td class="align-baseline"> Ingresa tu contraseña :<input type="text"></td>
                </tr>
                <br/>
                <input type="button" value ="enviar"/>
            </tbody>
            </table>
        </div>
    </div>
</div>


 


  

 