<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-4"> </div>

        <div class="col-12 col-md-5">
            <fieldset class="border">
                <p class="text-center"> Registro de usuario</p>
                <form class="p-4 mt-5">

                    <div class="mb-3 text-center w-100">
                        <label for="usuario" class="form-label mb-1">Correo Electronico</label>
                        <input type="text" class="form-control mb-2" id="emailRegistro">
                    </div>

                    <div class="mb-3 text-center w-100">
                        <label for="password" class="form-label mb-1">Contraseña</label>
                        <input type="password" class="form-control mb-2" id="passwordRegistro">
                    </div>

                    <div class="mb-3 text-center w-100">
                        <label for="usuario" class="form-label mb-1">Numero de documento</label>
                        <input type="text" class="form-control mb-2" id="cedulaRegistro">
                    </div>

                    <div class="mb-3 text-center w-100">
                        <label for="usuario" class="form-label mb-1">Nombres</label>
                        <input type="text" class="form-control mb-2" id="nombreRegistro">
                    </div>

                    <div class="mb-3 text-center w-100">
                        <label for="usuario" class="form-label mb-1">Apellidos</label>
                        <input type="text" class="form-control mb-2" id="apellidoRegistro">
                    </div>

                    <button type="submit" class=" btn-success w-100 mt-5">Registrarse</button>
                </form>
            </fieldset>

        </div>
    </div>
</div>