<div class="container">
        
    <div class="row d-flex justify-content-center">
    <div class="col-2"></div>
        <div class="col-12 col-md-4">
            <p>Pago con tarjeta</p>
            <form class="border p-4 mt-5">

                <div>
                    <label for="usuario" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="usuario">
                </div>
                <div>
                    <label for="usuario" class="form-label">Numero De Tarjeta</label>
                    <input type="text" class="form-control" id="usuario">
                </div>
                <div>
                    <label for="usuario" class="form-label">Fecha de Vencimiento</label>
                    <input type="text" class="form-control" id="usuario">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">CVD</label>
                    <input type="password" class="form-control" id="password">
                </div>

                      
                <div class="d-grid gap-2 mt-5">
                    <button type="submit" class="btn btn-outline-info ">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
 <img src="./recursos/tarjeta.jpg" class="d-block w-100 img-fluid ImAdaptable rounded" alt="Imagen1">
</div>